@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    display:flex;
    align-items:center;
    justify-content:center;
}
.wrap{
    height:500px;
    width:300px;
    margin:20px;
    background:linear-gradient(180deg, #ffccdd, #ddccff, #eeddcc);
    overflow:hidden;
    border-radius:10px;
    position:relative;
}
#input1{
    position:absolute;
    top:10%; left:10%;
    border:1px solid #000;
    background:#ffccdd;
    border-radius:10px;
    width:70px;
    height:30px;
    color:brown;
    outline:none;
    font-family:Montserrat, sans-serif;
    text-align:center;
}
#input2{
    position:absolute;
    border:1px solid #000;
    background:#ddeeff;
    width:70px;
    height:30px;
    text-align:center;
    top:10%; left:69%;
    border-radius:10px;
    color:blue;
    font-family:Montserrat, sans-serif;
    outline:none;
}
#output{
    position:absolute;
    top:25%; left:-10%;
    color:white;
    display:flex;
    color:#000;
    justify-content:center;
    align-items:center;
    font-family:Montserrat, sans-serif;
    font-size:35px;
    background:none;
    height:130px;
    width:353px;
    border-radius:10px;
}
#nav {
  right: 25px;
  z-index: 20;
  width: 45px;
  bottom: 15px;
  height: 45px;
  display: block;
  position: absolute;
  line-height: 45px;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75)
}

.mask {
  z-index: 21;
  color: #fff;
  width: 45px;
  height: inherit;
  font-size: 35px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  background: #ff5503;
  transition: all .1s ease-in-out 0s;
}

#nav.active .mask {
  background: #ff5503;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg)
}

#nav:after {
  top: 0;
  left: 0;
  content: '';
  width: inherit;
  height: inherit;
  border-radius: 50%;
  position: absolute;
  background:#000;
  transition: all .1s ease-in-out 0s;
}

#nav.active:after {
  top: -75px;
  left: -75px;
  width: 200px;
  height: 200px;
}

.nav-item {
  top: 0;
  left: 0;
  z-index: 19;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 30px;
  -webkit-transform: none;
          transform: none;
  line-height: 45px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  transition: all .3s cubic-bezier(.68, 1.55, .265, 1);
}

#nav.active  .nav-count-1{
  -webkit-transform: translate(8px, -70px);
          transform: translate(8px, -70px)
}

#nav.active .nav-count-2 {
  -webkit-transform: translate(-40px, -45px);
          transform: translate(-40px, -45px)
}
#nav.active .nav-count-3 {
    transform:translate(-70px, 0px);
}
